svg {
    border: rgb(0, 0, 0) .75px solid;
    font-family: 'Monserrat' Helvetica;
}

#d3-container {
    position: relative;
}

.tooltip {
  pointer-events: none;
  background-color: rgba(252, 154, 141, 0.699);
  box-shadow: 0 0 7px gainsboro;
  padding: .5em;
  border-radius: 5px;
  opacity: 1;
}

.tooltip:not(.visible){
  opacity: 0;
}

circle:hover {
  stroke-width: 2.5;
  fill-opacity: 1;
  stroke: rgba(144, 18, 228, 0.836);
  cursor: pointer;
}

rect:hover {
  stroke-width: 2.5;
  fill-opacity: 1;
  stroke: rgba(144, 18, 228, 0.836);
  cursor: pointer;
}

body {
  background-color: #fffcf2;
  font-family: 'Montserrat', sans-serif, "Helvetica"; 
}

h1, h4 {
  text-align: center;
}

.source, .references {
  font-style: italic;
  font-size: small;
}

.grid1 {
  text-align: center;
  height: 2fr;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.6;
}

.grid2 {
  text-align: center;
  display: block;
  padding-top: 2.5em;
} 

.grid3 {
  text-align: left;
  margin-right: 200px;
  margin-left: 200px;
  line-height: 1.6;  
}

.grid4 {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 1em;
  line-height: 1.6;
}
.grid5 {
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.6;
}

.grid6 {
  text-align: center;
}

.grid7 {
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.6;
  
}

.grid8 {
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.6;
}

.grid9 {
  text-align: center;
}